<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 p-4">
        <form method="post" action="/login">
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" class="form-control" required name="username" placeholder="Username"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" class="form-control" required name="password" placeholder="Password"/>
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-start">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="rememberMe" value="1"
                               id="remember-me-checkbox" checked/>
                        <label class="form-check-label" for="remember-me-checkbox"> Remember me </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>
    </div>
</div>
</body>
</html>
